root = true

[*]
indent_size = 2
indent_style = space
tab_width = 2
end_of_line = lf

[*.yml]
indent_size = 2
indent_style = space

[*.{s,asm,as,toml,rs,json}]
indent_size = 4

[{Dockerfile,Makefile}]
indent_style = tab
indent_size = 4
